# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\University\Grade 2\Spring 2021\Software Engineering\Assignments\Assignment 4\GoFo_system\Gofo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
